@page
@model RecipesModel

    <div class="text-center mt-3">
        <a asp-page="CreateRecipe" class="btn btn-primary">Create New Recipe</a>
    </div>
    <div style="margin-top: 20px;"></div>

<div class="row">

    @foreach (var recipe in Model.Recipes)
    {
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="~/images/@recipe.ImageURL" class="card-img-top" alt="@recipe.Name">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.ShortDescription</p>
                    <a href="/Recipe?id=@recipe.Id" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>

    }

</div>

<div class="pagination-container">
    @{
        var totalPages = Model.TotalPages;
        var currentPage = Model.CurrentPage;
    }

    @if (totalPages > 1)
    {
        <ul class="pagination">
            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Recipes?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Recipes?page=@(currentPage - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="/Recipes?page=@i">@i</a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Recipes?page=@(currentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Recipes?page=@totalPages">Last</a>
                </li>
            }
        </ul>
    }
</div>