@page
@model WebApp.Pages.RecipeModel

<html>
<head>
    <title>@Model.Recipe.Name</title>
</head>
<body>
    <h1>@Model.Recipe.Name</h1>

    <img src="/images/chocolate-cake.jpg" alt="Chocolate Cake">

    <p>@Model.Recipe.Description</p>

    <h2>Ingredients:</h2>
    <ul>
        @foreach (var ingredient in Model.Recipe.Ingredients)
        {
            <li>@ingredient</li>
        }
    </ul>

    <h2>Steps:</h2>
    <ol>
        @foreach (var step in Model.Recipe.Steps)
        {
            <li>@step</li>
        }
    </ol>
</body>
</html>